@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  background: #fff;
  justify-content: center;
  flex-direction: column;
}

::selection {
  color: #fff;
  background: #090909;
}

.wrapper {
  height: 265px;
  max-width: 410px;
  background: #706d6d;
  border-radius: 7px;
  padding: 20px 25px 0;
  transition: height 0.2s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.wrapper.active {
  height: 480px;
}

header {
  margin: 2rem;
  background-color: #706d6d;
  padding: 1rem;
  border-radius: 1.5rem;
}

header h1 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: rgb(36, 34, 34);
}

header p {
  margin-top: 5px;
  color:  white;
  font-size: 25px;
  text-align: center;

}

.wrapper .form {
  margin: 20px 0 25px;
}

.form :where(input, button) {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.1s ease;
}

.form input {
  font-size: 18px;
  padding: 0 17px;
  border: 1px solid #999;
  border-radius: 15px;
}

.form input:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.form input::placeholder {
  color: #999;
}

.form button {
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  background: #2fe0e9;
  border-radius: 15px;
  box-shadow: 0 0 10px #2fe0e9;
}

.form button:hover {
  background: transparent;
  background-color: #2fe938;
  color: black;
  box-shadow: none;
  box-shadow: 0 0 10px rgb(15, 225, 15);
}

.qr-code {
  opacity: 0;
  display: flex;
  padding: 33px 0;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}

.wrapper.active .qr-code {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}

.qr-code img {
  width: 180px;
}

@media (max-width: 430px) {
  .wrapper {
    height: 255px;
    padding: 16px 20px;
  }

  .wrapper.active {
    height: 510px;
  }

  header p {
    color: #696969;
  }

  .form :where(input, button) {
    height: 52px;
  }

  .qr-code img {
    width: 150px;
  }
}